In [1]:
import matplotlib.pyplot as plt
font = {'size'   : 14}
import matplotlib
matplotlib.rc('font', **font)
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

1. Lectura de datos UDEMY

In [2]:
udemy_courses_df =pd.read_csv('udemy_courses.csv') #Lectura dataset
udemy_courses_df.info() #Cabecera dataset
udemy_courses_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance

In [3]:
# Observacion de registro a azar
udemy_courses_df.iloc[555]

course_id                                                         754524
course_title           Fundraising Success: The Art & Science of Majo...
url                    https://www.udemy.com/fundraising-success-the-...
is_paid                                                             True
price                                                                 50
num_subscribers                                                       38
num_reviews                                                            9
num_lectures                                                          25
level                                                 Intermediate Level
content_duration                                                     2.5
published_timestamp                                 2016-05-27T17:16:58Z
subject                                                 Business Finance
Name: 555, dtype: object

In [4]:
udemy_courses_df['course_id'].value_counts()

1084454    2
28295      2
185526     2
1157298    2
837322     2
          ..
669174     1
1185898    1
1177156    1
177614     1
297602     1
Name: course_id, Length: 3672, dtype: int64

In [5]:
udemy_courses_df['course_title'].value_counts()

Acoustic Blues Guitar Lessons                           3
Creating an animated greeting card via Google Slides    3
CFA Level 2- Quantitative Methods                       2
Essentials of money value: Get a financial Life !       2
Drum Lessons For Beginners                              2
                                                       ..
Drawing Perspective For Beginners                       1
Adobe InDesign CC Advanced                              1
Intro to Photoshop for Merch by Amazon                  1
Photoshop - Creación de Efectos 2                       1
Using MODX CMS to Build Websites: A Beginner's Guide    1
Name: course_title, Length: 3663, dtype: int64

In [8]:
udemy_courses_df['is_paid'].value_counts()

True     3368
False     310
Name: is_paid, dtype: int64

In [9]:
udemy_courses_df['level'].value_counts()

All Levels            1929
Beginner Level        1270
Intermediate Level     421
Expert Level            58
Name: level, dtype: int64

In [10]:
udemy_courses_df['subject'].unique()

array(['Business Finance', 'Graphic Design', 'Musical Instruments',
       'Web Development'], dtype=object)

In [11]:
udemy_courses_df['course_id'] = udemy_courses_df['course_id'].astype('category')
udemy_courses_df['level'] = udemy_courses_df['level'].astype('category')
udemy_courses_df['published_timestamp'] = udemy_courses_df['published_timestamp'].astype('datetime64')
udemy_courses_df['subject'] = udemy_courses_df['subject'].astype('category')

In [12]:
udemy_courses_df.info() #Cabecera dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   category
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   category
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   datetime64[ns]
 11  subject              3678 non-null   category
dtypes: bool(1), category(3), datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 406.1+ KB

In [13]:
udemy_courses_df.describe()

,price,num_subscribers,num_reviews,num_lectures,content_duration
count,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000
mean,66.049483,3197.150625,156.259108,40.108755,4.094517
std,61.005755,9504.117010,935.452044,50.383346,6.053840
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,111.000000,4.000000,15.000000,1.000000
50%,45.000000,911.500000,18.000000,25.000000,2.000000
75%,95.000000,2546.000000,67.000000,45.750000,4.500000
max,200.000000,268923.000000,27445.000000,779.000000,78.500000

In [14]:
udemy_courses_df['published_year'] = udemy_courses_df['published_timestamp'].dt.year

In [15]:
udemy_courses_df.info() #Cabecera dataset
udemy_courses_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   category
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   category
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   datetime64[ns]
 11  subject              3678 non-null   category
 12  published_year       3678 non-null   int64
dtypes: bool(1), category(3), datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 434.8+ KB

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject,published_year
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18 20:58:58,Business Finance,2017
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09 16:34:20,Business Finance,2017
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19 19:26:30,Business Finance,2016
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30 20:07:24,Business Finance,2017

In [16]:
udemy_courses_df.to_csv('udemy_courses.csv', index=False) # se guarda archivo