In [2]:
import matplotlib.pyplot as plt
font = {'size'   : 14}
import matplotlib
matplotlib.rc('font', **font)
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

1. Lectura de datos dataset Coursera

In [3]:
Coursera_reviews_df =pd.read_csv('Coursera_reviews.csv') #Lectura dataset
Coursera_reviews_df.info() #Cabecera dataset
Coursera_reviews_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB

,reviews,reviewers,date_reviews,rating,course_id
0,"Pretty dry, but I was able to pass with just t...",By Robert S,"Feb 12, 2020",4,google-cbrs-cpi-training
1,would be a better experience if the video and ...,By Gabriel E R,"Sep 28, 2020",4,google-cbrs-cpi-training
2,Information was perfect! The program itself wa...,By Jacob D,"Apr 08, 2020",4,google-cbrs-cpi-training
3,A few grammatical mistakes on test made me do ...,By Dale B,"Feb 24, 2020",4,google-cbrs-cpi-training

In [17]:
# Observacion de registro a azar
Coursera_reviews_df.iloc[555]

reviews         I really enjoyed the course and the professor ...
reviewers                                              By Marco F
date_reviews                                  2020-06-08 00:00:00
rating                                                          4
course_id                                financial-markets-global
Name: 555, dtype: object

In [11]:
Coursera_reviews_df['rating'].value_counts()

5    1146164
4     226702
3      48303
1      17354
2      16188
Name: rating, dtype: int64

In [12]:
distinct_institutions = Coursera_reviews_df['course_id'].value_counts()
print("Distinct values and their counts for 'course_id' column:")
print(distinct_institutions)

Distinct values and their counts for 'course_id' column:
python                                        45218
machine-learning                              35895
neural-networks-deep-learning                 35750
technical-support-fundamentals                35319
python-data                                   33546
                                              ...
social-economic-networks                          6
intro-to-healthcare                               6
entrepreneurship-strategy                         6
epigenetics                                       6
building-modern-python-applications-on-aws        3
Name: course_id, Length: 604, dtype: int64

In [15]:
Coursera_reviews_df['course_id'] = Coursera_reviews_df['course_id'].astype('category')
Coursera_reviews_df['date_reviews'] = Coursera_reviews_df['date_reviews'].astype('datetime64')

In [16]:
Coursera_reviews_df.info() #Cabecera dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  datetime64[ns]
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  category
dtypes: category(1), datetime64[ns](1), int64(1), object(2)
memory usage: 47.2+ MB

In [ ]:
Coursera_reviews_df.to_csv('Coursera_reviews.csv', index=False) # se guarda archivo