In [1]:
import matplotlib.pyplot as plt
font = {'size'   : 14}
import matplotlib
matplotlib.rc('font', **font)
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import seaborn as sns
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

1. Lectura de datos dataset Coursera

In [2]:
Coursera_Courses_df =pd.read_csv('Coursera_courses.csv') #Lectura dataset
Coursera_Courses_df.info() #Cabecera dataset
Coursera_Courses_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    object
 2   course_url   623 non-null    object
 3   course_id    623 non-null    object
dtypes: object(4)
memory usage: 19.6+ KB

,name,institution,course_url,course_id
0,Machine Learning,Stanford University,https://www.coursera.org/learn/machine-learning,machine-learning
1,Indigenous Canada,University of Alberta,https://www.coursera.org/learn/indigenous-canada,indigenous-canada
2,The Science of Well-Being,Yale University,https://www.coursera.org/learn/the-science-of-...,the-science-of-well-being
3,Technical Support Fundamentals,Google,https://www.coursera.org/learn/technical-suppo...,technical-support-fundamentals

In [3]:
# Observacion de registro a azar
Coursera_Courses_df.iloc[555]

name                   More Introduction to Financial Accounting
institution                           University of Pennsylvania
course_url     https://www.coursera.org/learn/wharton-financi...
course_id                           wharton-financial-accounting
Name: 555, dtype: object

In [4]:
distinct_institutions = Coursera_Courses_df['institution'].value_counts()
print("Distinct values and their counts for 'institution' column:")
print(distinct_institutions)

Distinct values and their counts for 'institution' column:
University of Pennsylvania       43
University of Michigan           31
Duke University                  24
Google Cloud                     22
IBM                              18
                                 ..
EDHEC Business School             1
INSEAD                            1
Google - Spectrum Sharing         1
New York Institute of Finance     1
UCL School of Management          1
Name: institution, Length: 134, dtype: int64

In [5]:
distinct_course_ids = Coursera_Courses_df['course_id'].value_counts()
print("\nDistinct values and their counts for 'course_id' column:")
print(distinct_course_ids)

Distinct values and their counts for 'course_id' column:
machine-learning                             1
english-composition                          1
wharton-communication-skills                 1
introduction-trading-machine-learning-gcp    1
python-programming-introduction              1
                                            ..
solar-energy-basics                          1
bootstrap-4                                  1
google-cloud-java-spring                     1
forensic-science                             1
data-science-course                          1
Name: course_id, Length: 623, dtype: int64

In [6]:
Coursera_Courses_df['institution'] = Coursera_Courses_df['institution'].astype('category')
Coursera_Courses_df['course_id'] = Coursera_Courses_df['course_id'].astype('category')

In [7]:
Coursera_Courses_df.info() #Cabecera dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    category
 2   course_url   623 non-null    object
 3   course_id    623 non-null    category
dtypes: category(2), object(2)
memory usage: 38.4+ KB

In [8]:
Coursera_Courses_df.describe

<bound method NDFrame.describe of                                                   name  \
0                                     Machine Learning
1                                    Indigenous Canada
2                            The Science of Well-Being
3                       Technical Support Fundamentals
4    Become a CBRS Certified Professional Installer...
..                                                 ...
618              Accounting Data Analytics with Python
619             Introduction to Molecular Spectroscopy
620                                Managing as a Coach
621             The fundamentals of hotel distribution
622                     A Crash Course in Data Science

                                    institution  \
0                           Stanford University
1                         University of Alberta
2                               Yale University
3                                        Google
4                     Google - Spectrum Sharing
..                                          ...
618  University of Illinois at Urbana-Champaign
619                 University of Manchester
620             University of California, Davis
621                       ESSEC Business School
622                    Johns Hopkins University

                                            course_url  \
0      https://www.coursera.org/learn/machine-learning
1     https://www.coursera.org/learn/indigenous-canada
2    https://www.coursera.org/learn/the-science-of-...
3    https://www.coursera.org/learn/technical-suppo...
4    https://www.coursera.org/learn/google-cbrs-cpi...
..                                                 ...
618  https://www.coursera.org/learn/accounting-data...
619        https://www.coursera.org/learn/spectroscopy
620  https://www.coursera.org/learn/managing-as-a-c...
621  https://www.coursera.org/learn/hotel-distribution
622  https://www.coursera.org/learn/data-science-co...

                            course_id
0                    machine-learning
1                   indigenous-canada
2           the-science-of-well-being
3      technical-support-fundamentals
4            google-cbrs-cpi-training
..                                ...
618  accounting-data-analytics-python
619                      spectroscopy
620               managing-as-a-coach
621                hotel-distribution
622               data-science-course

[623 rows x 4 columns]>

In [ ]:
Coursera_Courses_df.to_csv('Coursera_courses.csv', index=False) # se guarda archivo